<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom shadow-sm bg-white mt-3 rounded px-3">
    <div class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
        <span class="fs-5 fw-bold">Painel de Controle</span>
    </div>
    <div class="d-flex align-items-center">
        <span class="me-3 fw-semibold"><i class="bi bi-person-circle"></i> Dr. Vitor</span>
        <a href="#" class="btn btn-outline-danger btn-sm">Sair</a>
    </div>
</header>